.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;

	&__content {
		background-color: #fff;
		padding: 20px;
		border-radius: 10px;
		width: 80%;
		max-width: 500px;
		position: relative;
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 24px;
		cursor: pointer;
	}

	&__title {
		text-align: center;
		font-size: 24px;
		margin-bottom: 20px;
		color: #3d4142;
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__form-group {
		margin-bottom: 15px;
		width: 100%;
	}

	&__form-group label {
		display: block;
		margin-bottom: 5px;
		font-weight: bold;
		color: #5d5b5b;
	}

	&__form-group select {
		width: 100%;
		padding: 10px;
		border: 1px solid #d8622e;
		border-radius: 5px;
		box-sizing: border-box;
		font-size: 16px;
	}

	&__action {
		display: inline-block;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
		background-color: #d8622e;
		color: #fff;

		&:hover {
			background-color: #ba501f;
		}

		&[disabled] {
			background-color: #ccc;
			cursor: not-allowed;
		}
	}
}
